{{- define "main" }}
<main>
  <div id="main-feature" class="outer">
    <div class="inner row">
      <div class="col">
        <header>
          <hgroup>
            <h1>{{ partial "heading.html" .Title }}</h1>
            <h2 aria-level="1">{{ .Params.subtitle }}</h2>
          </hgroup>
          <p>{{ .Description }}</p>
        </header>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div class="inner row">
      <div class="col">
        <div class="body">
          {{ .Content }}
        </div>
        <footer>
          <p><time datetime="{{ .Date }}">{{ .Date.Format "2006 年 1 月 2 日" }}</time>制定{{ if ne .Lastmod .Date }}<br><time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "2006 年 1 月 2 日" }}</time>更新{{ end }}</p>
          {{- with .Params.publisher }}
          <div>
            <p>{{ .name }}<br>{{ .person.role }} {{ .person.name }}</p>
            <address>{{ .contact.title }}</span><br>E-mail: <a href="mailto:{{ .contact.email }}">{{ .contact.email }}</a></address>
          </div>
          {{- end }}
        </footer>
      </div>
    </div>
  </div>
</main>
{{- end }}
