{{- define "main" }}
<main>
  <div id="main-feature" class="outer">
    <div class="inner row">
      <div class="col">
        <header>
          <hgroup>
            <h1>{{ partial "heading.html" .Title }}</h1>
            <h2 aria-level="1">{{ .Params.subtitle }}</h2>
          </hgroup>
          <p>{{ .Description }}</p>
        </header>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div id="concepts" class="outer">
      <div class="inner row">
        <div class="col">
          {{- range .Params.concepts }}
          <section>
            <header>
              <hgroup>
                <h2><span><strong>{{ substr .subheading 0 1 }}</strong></span>{{ substr .subheading 1 }}</h2>
                <h3 aria-level="2">{{ .heading }}</h3>
              </hgroup>
            </header>
            <p>{{ .description }}</p>
          </section>
          {{- end }}
        </div>
      </div>
    </div>
    <div id="overview" class="outer">
      <div class="inner row">
        <div class="col">
          {{- with .Params.overview }}
          <section>
            <header>
              <hgroup>
                <h2>{{ partial "heading.html" .heading }}</h2>
                <h3 aria-level="2">{{ .subheading }}</h3>
              </hgroup>
              <span class="fas circle" aria-hidden="true"></span>
            </header>
            <table>
              <tbody>
                {{- range .items }}
                <tr>
                  <th>{{ .label }}</th>
                  <td>{{ .value | markdownify }}</td>
                </tr>
                {{- end }}
              </tbody>
            </table>
          </section>
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</main>
{{- end }}

{{- define "sub" }}
{{ partial "about-nav.html" . }}
{{- end }}
