<article class="blog summary box" itemscope itemtype="http://schema.org/BlogPosting">
  <a href="{{ .URL }}" itemprop="url">
    <figure>
      <img src="{{- if isset .Params "image" }}{{ .Params.image }}{{ else }}/assets/images/updates/placeholder.png{{- end }}" alt="" itemprop="image">
    </figure>
    <header>
      <h3 itemprop="headline">{{ .Title }}</h3>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" itemprop="datePublished">{{ .Date.Format "1 月 2 日" }}</time>
      {{- if isset .Params "authors" }}{{ range first 1 .Params.authors }}{{ with (index $.Site.Data.authors .) }}
      <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        {{- if isset . "image" }}<span class="avatar"><img src="{{ .image }}" alt="" itemprop="image"></span>{{ end }}
        <span itemprop="name">{{ .name }}</span>
      </div>
      {{- end }}{{ end }}{{ end }}
    </header>
    <meta itemprop="mainEntityOfPage" content="{{ .Permalink }}">
    <p><span itemprop="description">{{ .Summary | truncate 80 }}</span> <span class="more">続きを読む &raquo;</span></p>
  </a>
</article>
