<article class="post box{{ if eq .Params.layout "wide" }} wide{{ end }}" itemscope itemtype="http://schema.org/Article">
  <meta itemprop="mainEntityOfPage" content="{{ .Permalink }}">
  <header>
    <hgroup>
      <h1 itemprop="headline">{{ .Title }}</h1>
      {{- if .Params.Subtitle }}
        <h2 itemprop="alternativeHeadline">{{ .Params.Subtitle }}</h2>
      {{- end }}
    </hgroup>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" itemprop="datePublished">{{ .Date.Format "2006 年 1 月 2 日" }}</time>
    {{- if isset .Params "authors" }}{{ range first 1 .Params.authors }}{{ with (index $.Site.Data.authors .) }}
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a href="/updates/author/{{ .title }}/" itemprop="url">
        {{- if isset . "image" }}<span class="avatar"><img src="{{ .image }}" alt="" itemprop="image"></span>{{ end }}
        <span itemprop="name">{{ .name }}</span>
      </a>
    </div>
    {{- end }}{{ end }}{{ end }}
    {{- if isset .Params "tags" }}
    <ul class="taxonomy" itemprop="keywords">{{ range .Params.tags }}{{ with (index $.Site.Data.tags .) }}<li class="term"><a href="/updates/tag/{{ .title }}/">{{ .name }}</a></li>{{ end }}{{ end }}</ul>
    {{- end }}
  </header>
  {{- if .Params.image }}
  <figure class="featured">
    {{- $image := (resources.Get .Params.image).Fit "1280x720" }}
    {{- $image_2x := (resources.Get .Params.image).Fit "2560x1440" }}
    <img src="{{ $image.RelPermalink }}" srcset="{{ $image.RelPermalink }}, {{ $image_2x.RelPermalink }} 2x" alt="" itemprop="image">
  </figure>
  {{- end }}
  <div itemprop="articleBody">
    {{- .Content }}
  </div>
  <footer>
    {{- with $.Site.Data.partials.updates.share }}
    <aside class="share">
      <h3>{{ partial "heading.html" .heading }}</h3>
      <ul>
        {{- range .media }}
        <li><a href="{{ replaceRE "{url}" $.Permalink .url | replaceRE "{title}" $.Title }}"><span class="fab {{ .identifier }}" aria-hidden="true"></span><span class="label">{{ .name }}</span></a></li>
        {{- end }}
      </ul>
    </aside>
    {{- end }}
  </footer>
</article>
<footer>
  <nav>
    <ul>
      <li class="prev">{{ with .PrevInSection }}<span class="fas angle-left" aria-hidden="true"></span><span>{{ $.Site.Data.partials.updates.nav.prev }}</span><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</li>
      <li class="next">{{ with .NextInSection }}<span class="fas angle-right" aria-hidden="true"></span><span>{{ $.Site.Data.partials.updates.nav.next }}</span><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</li>
    </ul>
    <p class="cta-outer"><a href="/updates/{{ .Params.category }}/" class="cta"><span class="label">{{ (index $.Site.Data.partials.updates .Params.category).backlinklabel }}</span></a></p>
  </nav>
</footer>
