{{- define "style" }}{{ $.Scratch.Set "style" "updates" }}{{ end }}

{{- define "og:title" }}{{ partial "post-title-tag.html" . }} | ディノの足あと{{ end }}

{{- define "title" }}{{ partial "post-title-tag.html" . }} | ディノの足あと | {{ $.Site.Title }}{{ end }}

{{- define "main" }}
<main>
  <div id="main-feature" class="outer">
    <div class="inner row">
      <div class="col">
        <header>
          <hgroup>
            {{- range where $.Site.Sections "Section" "updates" }}
            <a href="{{ .RelPermalink }}">
              <h1>{{ partial "heading.html" .Title }}</h1>
              <h2 aria-level="1">{{ .Params.subtitle }}</h2>
            </a>
            {{- end }}
          </hgroup>
        </header>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div class="outer">
      <div class="inner row">
        <div class="col s4">
          <section id="news">
            <header>
              <hgroup>
                <h2>{{ partial "post-title-tag.html" . }}</h2>
              </hgroup>
              <span class="fas circle" aria-hidden="true"></span>
            </header>
            <div class="headlines">
              {{- range $.Pages }}
{{ partial "news-post-headline-year.html" . }}
              {{- end }}
            </div>
          </section>
        </div>
        <div class="col s2">
{{ partial "aside-tags.html" . }}
{{ partial "aside-authors.html" . }}
        </div>
      </div>
    </div>
  </div>
</main>
{{- end }}

{{- define "breadcrumbs" }}
<nav id="breadcrumbs" class="outer" itemscope itemtype="http://schema.org/BreadcrumbList" aria-label="パンくずリスト">
  <div class="inner row">
    <p class="col">
      {{- range where $.Site.Sections "Section" "updates" }}
      {{- with .Parent }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
      &rsaquo; <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ .RelPermalink }}"><span itemprop="name">{{ .LinkTitle }}</span></a><meta itemprop="position" content="1"></span>
      {{- end }}
      &rsaquo; <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ .RelPermalink }}"><span itemprop="name">{{ partial "post-title-tag.html" . }}</span></a><meta itemprop="position" content="2"></span>
    </p>
  </div>
</nav>
{{- end }}
