{{- define "main" }}
<main>
  <div id="main-feature" class="outer">
    <div class="inner row">
      <div class="col">
        <header>
          <hgroup>
            {{- with .Parent }}
            <a href="{{ .RelPermalink }}">
              <h1>{{ partial "heading.html" .Title }}</h1>
              <h2 aria-level="1">{{ .Params.subtitle }}</h2>
            </a>
            {{- end }}
          </hgroup>
        </header>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div class="outer">
      <div class="inner row">
        <div class="col s4">
          {{- with $.Site.Data.partials.updates.news }}
          <section id="news">
            <header>
              <hgroup>
                <h2>{{ partial "heading.html" .heading }}</h2>
                <h3 aria-level="2">{{ .subheading }}</h3>
              </hgroup>
              <span class="fas circle" aria-hidden="true"></span>
            </header>
            <div class="headlines">
              {{- range where $.Site.RegularPages "Params.category" "news" }}
{{ partial "news-post-headline-year.html" . }}
              {{- end }}
            </div>
          </section>
          {{- end }}
        </div>
        <div class="col s2">
{{ partial "aside-tags.html" . }}
{{ partial "aside-authors.html" . }}
        </div>
      </div>
    </div>
  </div>
</main>
{{- end }}
